<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Softball blog</title>
        {% else %}
        <title>Welcome to Remy Softball Site</title>
        {% endif %}
    </head>
    <body>
        <div>
            Softball blog: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages%}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>